
<div id="app" class="container">
  <h1 class="title">Meeting Application</h1>
  <div>
    <label>Choose camera
      <select [ngModel]="selectedVideoDevice" (change)="onVideoDeviceChange($event.target.value)">
          <option [value]="videoDevice.deviceId" *ngFor="let videoDevice of availableVideoDevices">{{videoDevice.name}}</option>
      </select>
    </label>
  <div>
  <div>
    <label>Choose audio in
      <select [ngModel]="selectedAudioDevice" (change)="onAudioDeviceChange($event.target.value)">
          <option [value]="audioDevice.deviceId" *ngFor="let audioDevice of availableAudioDevices">{{audioDevice.name}}</option>
      </select>
    </label>
  </div>
  <div>
    <button *ngIf="canJoinMeeting" class="button is-success" (click)="onStart()" id="join-meeting">
      Join Meeting <i class="fas fa-video"></i>
    </button>
  </div>
  <div>
    <video #video id="video" width="640" height="480" autoplay></video>
  </div>
  <div>
      <div *ngIf="showText">Meeting is going to start in a few seconds.</div>
      <div *ngIf="showError">{{errorMessage}}</div>
  </div>
</div>

